{{define "footer"}}
<footer id="main-footer" class="col-xs-10 col-md-10 col-md-offset-1">
	<p>
		Chungseok Baek. All rights reserved. Copyright &copy; 2015 - 2016.
	</p>
	<div class="social-bar">
		<a href="./facebook" title="Facebook">
			<img src="./images/icons/facebook.png" alt="Facebook icon" />
		</a>
		<a href="./twitter" title="Twitter">
			<img src="./images/icons/twitter.png" alt="Twitter icon" />
		</a>
		<a href="./googleplus" title="Google+">
			<img src="./images/icons/google.png" alt="Google+ icon" />
		</a>
		<a href="./linkedin" title="LinkedIn">
			<img src="./images/icons/linkedin.png" alt="Linkedin icon" />
		</a>
	</div>
</footer>
{{end}}
