{{define "footer"}}
<!-- <footer id="main-footer" class="navbar-bottom navbar-default"> -->
<div id="footer" class="col-xs-12 col-md-12">
	<div class="col-md-3 col-md-offset-1">
		<h4>
			About
		</h4>
		<p>
			<br>
			This website is built with Google App Engine. <br>
			<i>TodayList</i>. All rights reserved. Copyright &copy; 2015 - 2016.
		</p>
	</div>
	<div class="col-md-3">
		<h4>
			Business Owners
		</h4>
		<p><br>
			Thie app safely stores your images and advertise using machine learning technologies. <br>
			Please contact us if you have any issues with the service.
			<i>manager@todaylist.com</i>
		</p>
	</div>
	<div class="col-md-2">
		<h4>
			Client List
		</h4>
		<p><br>
			HelloWorld &copy; <br>
			ThisIsIt Co.Ltd<br>
			Example Co.Ltd<br>
			Test Co.Ltd<br>
			ThisIsIt Co.Ltd<br>
		</p>
	</div>
	<div class="col-md-2">
		<h4>
			Sitemap
		</h4>
		<p><br>
			Home <br>
			Add your advertisement <br>
			Location <br>
			Category <br>
			Contact <br>
		</p>
	</div>
</div>
<!-- </footer> -->
{{end}}
