{{define "maindisplay"}}
<div class="container col-md-12">
	<div class="jumbotron col-md-9" style="border: 1px solid FFF; border-radius: 5px;">
		<h2>The easiest way to advertise your business.</h2>
		<p>Upload your advertisment and share with your customers in various platforms.</p>
		<br>
		<button class="btn btn-default"> Learn More...</button>
	</div>
	<div class="col-md-3">
		<div class="sub-border" style="border-radius: 5px; padding:20px; background-color:#F0F0F0; border: 1px solid #ccc; ;">
			<h4>Your Latest Upload</h4>
			<p>Clicked: 152 <br> Rate: 5stars <br></p>
		</div>
	</div>
</div>
{{end}}
