{{define "post"}}
<div class="col-md-3 post">
	<div class="wrapper" style="border: 1px solid #ccc; margin:10px 0; height:230px; overflow:hidden;">
		<aside class="img-box" style="height:150px; overflow:hidden;">
			<a href="/main/?uuid={{.UUID}}">
			<img src='{{index .ImageSrc 0}}' style="width:100%; margin:auto 0;">
			</a>
		</aside>
		<div id="post-title">
			<p>
				{{.Title}}
			</p>
		</div>
		<div id="post-hour-info-box">
			<p>
				{{.Hour}}
			</p>
		</div>
		<div id="post-description-info-box">
			<p>
				{{.Description}}
			</p>
		</div>
		<br class="clear-both" />
	</div>
</div>
{{end}}