{{define "sidebar"}}
<div class="col-md-3">
	<div class="sub-border" style="border-radius: 5px; padding:20px; background-color:#F0F0F0; border: 1px solid #ccc; margin:5px 0px;">
		<h4>Your Latest Upload</h4>
		<p>Clicked: 152 <br> Rate: 5stars <br></p>
	</div>

	<div class="sub-border" style="border-radius: 5px; padding:20px; background-color:#F0F0F0; border: 1px solid #ccc; margin:5px 0px;">
		<h4>Your Latest Upload</h4>
		<p>Clicked: 152 <br> Rate: 5stars <br></p>
	</div>

	<div class="sub-border" style="border-radius: 5px; padding:20px; background-color:#F0F0F0; border: 1px solid #ccc; margin:5px 0px;">
		<h4>Your Latest Upload</h4>
		<p>Clicked: 152 <br> Rate: 5stars <br></p>
	</div>
	
	<div class="sub-border" style="border-radius: 5px; padding:20px; background-color:#F0F0F0; border: 1px solid #ccc; margin:5px 0px;">
		<h4>Your Latest Upload</h4>
		<p>Clicked: 152 <br> Rate: 5stars <br></p>
	</div>
</div>
{{end}}