{{define "content"}}
{{range $post := .}}
<div class="row">
	<div id="content" class="col-xs-12 col-md-7 col-md-offset-1">
	{{range $imgsrc := $post.ImageSrc}}
		<div id="main	-image-box" style="overflow:hidden;">
			<img src="{{$imgsrc}}" style="width:100%;"/>
		</div>
	{{end}}
	</div>
	<div id="content-sidebar" class="col-xs-12 col-md-3" style="border: 1px solid #333;">
		<p>{{$post.Title}}</p></br>
		<p>{{$post.Description}}</p></br>
		<p>{{$post.Hour}}</p></br>
		<p>{{$post.BlobKeys}}</p>
	</div>
</div>
{{end}}
{{end}}s