{{define "content"}}
<div id="content" class="col-xs-12 col-md-10 col-md-offset-1">
	<row>
		<div id="column1" class="col-xs-12 col-md-5 " style="border-left: solid thin #ff0000;">
			{{range $category := .Category}}
			<row>
				<p class="col-md-2">{{$category.Title}}</p>
			</row>
			{{end}}
		</div>
		<div id="column2" class="col-xs-12 col-md-5 " style="border-left: solid thin #ff0000;">
			{{range $location := .Location}}
			<row>
				<p class="col-md-2">{{$location.Title}}</p>
			</row>
			{{end}}
		</div>
	</row>
</div>
{{end}}